.wb-widget-heroes header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.wb-widget-heroes table {
    width: 100%;
    border: none;
}

.wb-widget-heroes table tr:nth-of-type(even) {
    background-color: transparent !important;
}

.wb-widget-heroes table .th {
    margin: 0;
    border-width: 2px;
}

.wb-widget-heroes table img {
    width: 32px;
}