<ul ng-click="addBuild()" class="small-block-grid-{{Math.min(6, jobs.length)}}">
    <li class="job" ng-show="jobs" ng-repeat="job in (ojobs = (jobs|orderBy:'status':true)|limitTo:11)">
        <div class="alert-box radius {{['success', 'warning', 'alert', 'info blink'][job.status]}}">
            <h4>{{job.name}}</h4>

            <div class="authors">
                <a class="th" ng-repeat="author in job.authors"><img title="{{author.name}}" gravatar-src="author.email" gravatar-size="100"></a>
            </div>

            <h5>{{job.commit}}</h5>
        </div>
    </li>
    <li class="job" ng-show="jobs.length > 11">
        <div class="alert-box radius {{['success', 'warning', 'alert'][ojobs[11].status]}}"><h1>+{{jobs.length - 11}}</h1></div>
    </li>
</ul>