.job {
    padding: 10px;
}

.wb-widget-builds ul {
    margin: 0 !important;
}

.job * {
    color: white !important;
}

.job > div {
    min-height: 160px;
    padding: 10px;
    margin: 0;
}

.job h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 10px;    
}

.job h6 {
    font-size: 16px;
}

.job .th {
    margin: 0;
    border-width: 2px;
}

.job img {
    width: 24px;
}

.job .authors {
    margin-bottom: 10px;    
}
